[General]
enabled=true
debounce=5
periodicMinutes=15
conflictPolicy=newer
notify=true
ignorePatterns=

[Pair_Documents]
local=/home/you/Documents
remote=/mnt/nas/NAS/Backup/Documents
direction=twoway
enabled=true

[Pair_Images]
local=/home/you/Pictures
remote=/mnt/nas/NAS/Backup/Images
direction=twoway
enabled=true

[Pair_Music]
local=/home/you/Music
remote=/mnt/nas/NAS/Backup/Music
direction=twoway
enabled=true
